.activity-add-form {
    margin-top:30px;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: space-evenly;
}

.activity-add-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 20px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 20em;
}

.activity-add-form input {
    all: unset;
    height: 1.5em;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
}
.activity-add-form select {
    all: unset;
    height: 1.5em;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
}
.activity-add-form .mapboxgl-map {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width:800px) {
    .activity-add-form {
        flex-direction: column;
    }
}